<h3>latest <span>blogs</span></h3>
		<h4><span>1.</span>kavin johnes</h4>
		<p><span>Lorem ipsum dolor sit amet, consectetuer</span> adipiscing elit. Cras sit amet neque a mauris semper sagittis. Sed facilisis turpis in elit. Nunc purus augue, ornare sed, bibendum vie</p>
		
	    <div id="leftblockoneLinkPan">
			<ul>
				<li class="comments">comments</li>
				<li class="more"><a href="#">more</a></li>
			</ul>
		</div>
		<p class="border"><%= image_tag("blank.gif", :alt => "image") %></p>
		<h4><span>2.</span>henry richard</h4>
		<p><span>Lorem ipsum dolor sit amet, consectetuer</span> adipiscing elit. Cras sit amet neque a mauris semper sagittis. Sed facilisis turpis in elit. Nunc purus augue, ornare sed, bibendum vie</p>
		<div id="leftblockoneLinktwoPan">
			<ul>
				<li class="comments">comments</li>
				<li class="more"><a href="#">more</a></li>
			</ul>
</div>