<ul>
    <li><a href="/" class="current"><span></span>Home</a></li>
    <li><a href="#"><span></span>Admin</a></li>
    <li><a href="/galleries/image"><span></span>Gallery</a></li>
    <li><a href="#"><span></span>Shop</a></li>            
   <li><a href="#"><span></span>Login</a></li> 
    <li><a href="/contacts/new"><span></span>Contact Us</a></li>
</ul>